@use '../utils';
@use '../typography';

.available-for {
  text-align: center;

  &__content {
    display: grid;
    @include utils.adaptive-value('row-gap', 48, 46);
    justify-items: center;
  }

  &__article {
    display: grid;
    @include utils.adaptive-value('row-gap', 19, 16);
    max-width: utils.$max-main-article-w;
  }

  &__title {
    @extend %h2;
    color: utils.$c_black;
  }

  &__buttons {
    justify-self: center;
  }
}
